.eys_off__button {
  position: absolute;
  top: 16px;
  right: 18px;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 999;
}

.eys_off__icon {
  stroke: #000;
  fill: #fff;
}

.eys_on__icon {
  stroke: #009905;
  fill: #fff;
}

.eys_off__label {
  position: relative;
}
