.eys_button {
  position: absolute;
  top: 16px;
  right: 18px;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 999;
}

.eys_icon {
  stroke: #000;
  fill: #fff;
}

.eys_label {
  position: relative;
}
