@font-face {
  font-family: 'Helvetica_Neue';
  src: url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica_Neue';
  src: url('./fonts/helveticaneuemedium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica_Neue';
  src: url('./fonts/helveticaneuebold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --padding_home: 32px;
}

body {
  font-family: 'Helvetica_Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #f3f3f3;
  color: #111111;
  padding: var(--padding_home);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.overflow-hidden {
  overflow: hidden;
  padding-left: 17px;
}

.input_form__text {
  display: block;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  height: 52px;
}

.input_form__text::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.submit_button {
  display: block;
  margin-top: 40px;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  background: #0957c3;

  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.form_ul_margin :not(:last-child) {
  margin-bottom: 18px;
}

.pkksadsadc {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30px;
  background-color: aquamarine;
  min-height: 40px;
  min-width: 150px;
  right: 0;

  top: -50px;
  position: absolute;
}

.item_position {
  position: relative;
}
