.hero_title {
  font-weight: 500;
  font-size: clamp(35px, 4.86vw, 70px);
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  color: #fbfbfb;
}

.hero_text {
  font-weight: 400;
  font-size: clamp(14px, 2vw, 28px);
  line-height: 107%;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
  color: #fbfbfb;
}

.hero_content {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 2;
  max-width: 518px;
  margin-right: 10px;
  margin-left: clamp(18px, 6.666vw, 96px);
}

.hero_started__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 18px 50px;
  width: 230px;
  height: 60px;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.arrow {
  display: block;
  width: 15px;
  height: 17px;
}

.experienced_nannies {
  column-gap: clamp(5px, 1.11vw, 16px);
  position: absolute;
  bottom: 50px;
  right: clamp(5px, 3.5vw, 50px);
  max-width: 284px;
  height: 118px;
  border-radius: 20px;
  background-color: #fbfbfb;
  z-index: 99;
  display: flex;
  padding: clamp(16px, 2.22vw, 32px);
  align-items: center;
}

.experienced_check__button {
  padding: 0;
  border: none;
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: #0957c3;
}

.experienced_nannies__text {
  margin: 0;
  margin-bottom: clamp(3px, 0.42vw, 6px);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.experienced_nannies__number {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}

.box {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border-radius: 30px;
  height: 736px;
  max-width: 1376px;
  display: flex;
  justify-content: center;
}

.box_blue {
  width: 50%;
  background-color: #0957c3;
  border-radius: 30px 0 0 30px;
}

.photo {
  width: 699px;
  height: 100%;
  border: 1px solid #111111;
  border-radius: 0 30px 30px 0;
  background-image: linear-gradient(
      rgba(18, 20, 23, 0.6),
      rgba(18, 20, 23, 0.6)
    ),
    url('../../assets/child.jpg');
  background-repeat: no-repeat;
  background-position: right center;
}

.form_sizes {
  max-width: 438px;
}

.input_form__text {
  display: block;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  height: 52px;
}
